
body {
  font-family: Helvetica, sans-serif;
  background: black;
  color: white;
}

header h1, header p, footer h3, footer p {
  width: 75vw;
  margin: 2em auto;
  padding: 20px;
  border-bottom: 10px solid white
}

header p, footer h3 {
  border-bottom: 1px solid white;
}

footer p {
  border: 0;
  padding: 0 20px;
}

.container {
  width: 75vw;
  border: 0 solid white;
  margin: 0 auto;
}

.container p, .container h2 {
  text-align: left
}

.container .project01, .container .project02, .container .project03, .container .project04 {
  width: 100%;
  border: 0 solid red;
  height: auto;
  margin-bottom: 10em;

}

.links {
  width: 25%;
  background: transparent;
  min-width: 150px;
  max-width: 300px;
  height: 100%;
  border: 0 solid blue;
  display: inline-block;
  float: left;
  padding-left: 20px;
  margin-left: -20px;
}

.work {
  width: 70%;
  min-width: 600px;
  height: 100%;
  padding-right: 20px;
  margin-right: -20px;
  text-align: center;
  background: transparent;
  display: inline-block;
  float: right;
  border: 0 solid yellow;
}

ul, li {
  list-style-type: none;
}

 footer p a {
  color: white;
  opacity: .8;
  text-decoration: none;  
 }

li a {
  text-decoration: none;
  line-height: 1.5em;
  padding-top: 10px;
  margin: -40px;
  color: white;
  opacity: .8;
}

li a:hover, footer p a:hover {
  opacity: 1;
  text-decoration: underline;
}

/* PROJECT01 */

.project01 .links {
  border: 0 solid #3f2bb3;
  height: 100%;
}

.project01 .work {
  background: white;
  border: 0 solid white;
}

.project01 .work a iframe {
  width: 600px;
  max-width: 600px;
  height: 700px;
  margin: 2em auto;
  border: 0 solid pink;
  overflow: hidden;
}

/* PROJECT02 */

.container .project02 .links {
  height: 100%;
}

.project02 .work {
  background: white;
  border: 0 solid white;
}

.project02 .work img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;  
  width: 50%;
  border: 0 solid white;
  display: inline-block;
  float: left;
  padding-left: 20px;
  margin: 20px auto;
}


/* PROJECT03 */

.container .project03 .links {
  height: 100%;
}

.project03 .work {
  background: white;
  border: 0 solid white;
}

.project03 .work img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;  
  width: 100%;
  height: 75%;
  overflow: hidden;
  border: 0 solid white;
  display: inline-block;
  float: left;
  padding-left: 20px;
  margin: 20px auto;
}


/* PROJECT04 */

.container .project04 .links {
  height: 100%;
}

.project04 .work {
  background: white;
  border: 0 solid white;
}

.project04 .work img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;  
  width: 800px;
  overflow: hidden;
  width: 100%;
  border: 0 solid yellow;
  display: inline-block;
  float: left;
  padding-left: 20px;
  margin: 20px auto;
}

.clear {
  background: transparent;
  height: 10em;
  clear: both;
}
